@import '../../../sass/styles.scss';

.produceTitle {
  font-size: 24px;
  font-weight: bold;
}
.produceItem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 71%;
  margin: 0 auto;
  gap: 10px;
  padding: 10px;
  background-color: #2d2d2d;
  border-radius: 5px;
  border: 1px solid #fff;

  margin-top: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.produceImage {
  width: 50px;
  height: 50px;
}

.produceText {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: relative;
  width: 50%;
}

.produceText::after {
  content: '';
  position: absolute;
  right: -10px;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #fff;
}

.produceText:nth-child(1)::after,
.produceText:nth-child(2)::after {
  content: '';
}

.produceText:last-child::after {
  display: none;
}

.produceText span {
  color: #ffcc00;
  font-size: 18px;
  font-weight: bold;
}
