@import '../../sass/styles.scss';

.pagination_list {
  display: flex;
  justify-content: center;
  padding: 0;
}

.pagination_item {
  margin: 0 4px;
}

.pagination_btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  gap: 20px;
  padding: 8px 5px;
  margin-top: 20px;
  border-radius: $border-radius;
  text-align: center;
  border: none;
  cursor: pointer;
  @include font(18px, 700, 1.19);
  color: $white-color;
  background-color: $gray-color;
  transition: color 0.2s ease, background-color 0.2s ease;
  @include hover {
    color: $blue-color;
    background-color: $orange-color;
  }

  &:disabled {
    display: none;
  }
}
