// colors
$blue-color: #132950;
$blue-2-color: #263f68;
$blue-3-color: #407ee5;
$blue-4-color: #007bff;
$white-color: #e5edf5;
$gray-color: #474747;
$orange-color: #ffa800;
$orange-2-color: #ff8800;
$red-color: #f00;
$green-color: #008000;
$modal-color: #6c6363;

$border-radius: 12px;
$border-active: 1px solid $gray-color;

$transition: 250ms linear;
