@import '../../sass/styles.scss';

.info {
  margin-bottom: 10px;
  text-align: justify;
  @include font(12px, 500, 1.19);
  @include tablet {
    @include font(20px, 500, 1.28);
  }
  @include desktop {
    @include font(28px, 500, 1.28);
  }
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding-bottom: 20px;
  @include tablet {
    gap: 14px;
  }
  @include desktop {
    gap: 18px;
  }
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 115px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  @include tablet {
    width: auto;
  }
}

.title {
  margin-bottom: 10px;
  text-align: center;

  @include font(16px, 700, 1.19);
  @include tablet {
    @include font(28px, 700, 1.28);
  }
  @include desktop {
    @include font(36px, 700, 1.28);
  }
}

.image {
  width: 100%;
}
