@import '../../sass/styles.scss';

.weaponsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 auto 10px;
}

.additionalInfoItem {
  @include mobile {
    width: 88%;
  }
  @include tablet {
    width: 100%;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 0 auto;
  @include tablet {
    width: 71%;
  }
}

.button {
  width: 24px;
  height: 24px;
  stroke: $blue-4-color;
  background: none;
  border: none;
  cursor: pointer;
  transform: rotate(-90deg);
  @include tablet {
    width: 36px;
    height: 36px;
  }
}

.iconNav {
  width: 24px;
  height: 24px;
  fill: white;
  transition: transform 0.3s ease;
  @include tablet {
    width: 36px;
    height: 36px;
  }
}
.rotatedIcon {
  transform: rotate(180deg);
}
