@import '../../sass/styles.scss';

.container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  @include tablet {
    justify-content: center;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  @include tablet {
    justify-content: space-between;
    width: 374px;
  }
}

.title {
  text-align: center;
  @include font(24px, 700, 1.19);

  @include tablet {
    @include font(28px, 700, 1.28);
  }
  @include desktop {
    @include font(32px, 700, 1.28);
  }
}
