@import '../../sass/styles.scss';

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 4px;
  margin-bottom: 10px;
  @include tablet {
    justify-content: space-between;
    margin-bottom: 15px;
  }
  @include desktop {
    justify-content: center;
    gap: 40px;
  }
}

.link {
  padding: 8px 16px;
  border-radius: $border-radius;
  text-decoration: none;
  font-weight: 700;
  color: $orange-2-color;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include hover {
    color: $white-color;
    background-color: $blue-2-color;
  }

  &.active {
    color: $white-color;
    background-color: $blue-2-color;
  }
}
