@import '../../sass/styles.scss';

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  // margin-bottom: 10px;
  text-align: center;
  @include font(24px, 700, 1.19);
  @include tablet {
    @include font(28px, 700, 1.28);
  }
  @include desktop {
    @include font(36px, 700, 1.28);
  }
}

.image {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-bottom: 10px;
  border-radius: $border-radius;
  @include tablet {
    max-width: 746px;
  }
  @include desktop {
    max-width: 1430px;
    height: 350px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 99px;
  width: 274px;
  @include font(16px, 600, 1.5);
  border-radius: $border-radius;
  color: $white-color;
  background-color: $green-color;
  transition: background-color $transition;
  @include hover {
    background-color: $blue-3-color;
  }

  @include tablet {
    padding: 16px 99px;
    width: 365px;
    @include font(20px, 600, 1.5);
  }

  @include desktop {
    width: 550px;
    @include font(24px, 600, 1.5);
  }
}
