@import '../../sass/styles.scss';

.title {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 10px;
  font-size: 20px;
  color: $white-color;
  text-align: justify;
  @include desktop {
    text-align: center;
  }
}
