@import '../../sass/styles.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  @include tablet {
    flex-direction: row;
    gap: 0;
    padding: 0;
  }
}

.img {
  width: 100%;
  @include tablet {
    width: 29%;
  }
  @include desktop {
    width: 23%;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  @include tablet {
    display: none;
  }
}

.pagination_btn {
  padding: 5px 10px;
  margin: 0 5px;
  @include font(18px, 500, 1.18);
  text-align: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;

  @include hover {
    background-color: $blue-4-color;
    color: $orange-color;
  }
}
