@import '../../sass/styles.scss';

.unitStats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.statItem {
  display: flex;
  justify-content: space-between;
  width: 85%;
  padding: 10px;
  background: #2e2e2e;
  border-radius: 8px;
  @include tablet {
    width: 35%;
  }
}

.statLabel {
  font-weight: bold;
}

.statValue {
  display: flex;
  gap: 5px;
}
.statIcon {
  height: 20px;
  width: 20px;
}
